[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


*.obj
*.pch
*.pdb
*.idb
*.ipdb
*.iobj
*.tlog
*.lastbuildstate
*.ilk
*.exp
*.log


*.exe


*.VC.db
*.VC.VC.opendb
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile